name: Clippy
on: [push, pull_request]

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack

      - name: Clippy
        run: cargo hack clippy --feature-powerset --workspace --all-targets -- --deny warnings