name: Clippy
on: [push, pull_request]

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack

      - name: Clippy
        run: cargo hack clippy --feature-powerset --workspace --all-targets -- --deny warnings
      - run: rustup target add thumbv6m-none-eabi
      - name: Clippy no-std
        run: cargo hack clippy --feature-powerset --skip io,engine-sync,engine-async,gui-sync,gui-async,tokio-process --target thumbv6m-none-eabi --workspace --lib --no-private -- --deny warnings