name: Doc check
on: [push, pull_request]

jobs:
  doc-check:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings"

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - name: Doc check
        run: cargo doc --workspace --all-features